mat-toolbar {
  min-height: 64px;
  max-height: 64px;
}

mat-sidenav-container {
  height: calc(100% - 64px);

  mat-sidenav {
    min-width: 280px;

    mat-nav-list a.active-link {
      color: blue;
    }
  }
}

button[mat-icon-button] {
  margin-right: 16px;
}
